*, *:before, *:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  padding: 20px;
  box-sizing: border-box;
  font-family: sans-serif;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #e4f6fe;
}

a {
  position: relative;
  display: inline-block;
  margin-bottom: 5px;
  color: #03a9f4;
  font-size: 20px;
  font-weight: 700;
  transition: all .2s;
  text-decoration: none;
}

a:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: currentColor;
  transition: width .2s;
}

a:hover {
  color: #ee6e73;
}

a:hover:before {
  width: 100%;
}

a[data-title] {
  display: table;
  padding: 2px 0 0;
  white-space: nowrap;
}

a[data-title]:before {
  content: attr(data-title);
  width: 0;
  height: 100%;
  padding: inherit;
  color: #fff;
  background-color: #ee6e73;
  transition: none;
  overflow: hidden;
  opacity: 0;
}

a[data-title]:hover {
  color: #03a9f4;
}

a[data-title]:hover:before {
  width: 100%;
  opacity: 1;
  transition: width .4s;
}

h2, h3 {
  position: relative;
  padding-bottom: 5px;
  margin-bottom: .5em;
  font-size: 32px;
  color: #808c99;
}

h2:before, h3:before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 3px;
  background-color: #60ccfd;
}

h3 {
  font-size: 26px;
}

hr {
  margin: 20px 0;
  border: 1px solid rgba(3, 169, 244, 0.2);
  border-bottom: none;
}

/*Nested Rules start*/
p {
  color: #333;
  font-size: 1.2em;
}

.block p {
  color: #999;
  font-size: 1.2em;
}

.block {
  padding: 20px;
  margin-bottom: 20px;
  color: #000;
  font-size: 14px;
}

.block .link {
  display: inline-block;
}

.block .link:hover {
  text-decoration: none;
}

/* Nested Rules end*/
/*Nested Properties start*/
.element {
  font-family: serif;
  font-size: 1.2em;
  font-weight: 700;
  /**/
  font: 1.2em/1.2 serif;
  font-weight: 700;
}

/*Nested Properties end*/
/*Placeholder Selectors start*/
.items {
  display: flex;
  justify-content: center;
  align-items: stretch;
  border: 2px solid #e5e5e5;
}

.items > .column {
  width: 23%;
  margin: 1%;
}

.content a.notice {
  font-weight: 700;
  font-size: 20px;
  color: #999;
}

/*Placeholder Selectors end*/
/*Comments start*/
/*
	this comment will be displayed in the CSS.
	interpolation within comments is resolved - this text displayed in the comment.
*/
/*Comments end*/
/*==SassScript start==*/
/*variables start*/
.rectangle {
  width: 200px;
  height: 100px;
  border: 2px solid #d3d3d3;
  font-size: 20px;
}

.square {
  width: 100px;
  height: 100px;
  border: 2px solid #fdfdfd;
  font-size: 20px;
}

/*variables end*/
/*lists start*/
.lists {
  padding: 10px;
  font-family: sans-serif;
  margin: 100px 200px 300px 400px;
  margin: 50px, 60px, 70px, 80px;
  padding: 100px 200px 300px 400px;
  padding: 11px, 12px, 14px;
  padding: 10px 20px 30px;
}

/*lists end*/
/*maps start*/
.message-primary {
  background: #000;
}

.message-success {
  background: #27BA6C;
}

.message-info {
  background: #03a9f4;
}

.message-warning {
  background: #FF8833;
}

.message-danger {
  background: #ff1a1a;
}

/*maps end*/
.numbers {
  width: 20px;
  height: 15px;
  font: 14px/1.4;
  width: 500px;
  width: 4px;
  height: 500px;
  padding: 15px;
  line-height: 100px;
  font: 12px/1.2;
  /*1*/
  width: 20%;
  width: 150%;
  width: 5px;
  width: 7px;
  width: 8px;
  /*2*/
  width: 10px;
  width: 1;
  width: 8;
  line-height: 1.49145;
  width: 9px;
}

/* colors start */
.color {
  background-color: #333333;
  /*1*/
  color: #03fcff;
  color: rgba(3, 252, 255, 0.5);
  /*2*/
  color: #abc;
  color: 170;
  color: 187;
  color: 204;
  /*3*/
  color: #4000bf;
  /*4*/
  color: 210deg;
  color: 25%;
  color: 73.33333%;
  /*5*/
  color: #b0aacc;
  color: #cad5df;
  color: #8aa2b9;
  /*6*/
  color: #a3bbd3;
  color: #b1bbc5;
  color: #bbbbbb;
  color: #ccbbaa;
  color: #554433;
  /*7*/
  color: rgba(0, 0, 0, 0.6);
  color: rgba(0, 0, 0, 0.4);
}

/* colors end */
/*strings start*/
.string:before {
  content: "quotes text";
  content: text quotes;
  content: text-text;
  content: "text before 30 text after";
  /*1*/
  content: text;
  content: "text";
  content: 4;
  content: aaAAaa;
  content: 2;
  /*2*/
  content: "bc";
  content: "bcdehx";
  content: "TO UPPER CASE";
  content: "to lower case";
}

/*strings end*/
/*boolean start*/
.boolean {
  z-index: 1;
  z-index: 2;
  z-index: 3;
}

/*boolean end*/
/* & symbol start */
.symbol:hover {
  color: red;
}

.symbol-link {
  color: red;
}

/*  & symbol end */
/*Variable defaults start*/
.variables-to-default {
  content: "Test text";
  content: "Default test text";
  content: "not-null";
}

/*Variable defaults ens*/
/*==SassScript end==*/
/* DIRECTIVES start*/
.import .example {
  width: 100px;
  height: 100px;
  background-color: #fff;
  color: #000;
  border: 2px solid;
  font-size: 16px;
}

.media {
  width: 1000px;
}

@media screen and (max-width: 768px) {
  .media {
    width: 700px;
  }
}

/*@extend start*/
.extend, .extendAdditional {
  padding: 10px;
  border: 1px solid #f00;
  border-radius: 5px;
  font-size: 12px;
}

.extend.font-large, .font-large.extendAdditional {
  font-size: 16px;
}

.linkhover:hover, .extendAdditional {
  text-decoration: underline;
}

.extendOtherDefoult, .extendOther, .extendAdditional {
  color: #888;
}

.extendOther, .extendAdditional {
  line-height: 1.2;
  max-width: 500px;
}

.extendAdditional {
  background-color: #e4e4e4;
}

/*@extend end*/
/*@at-root start*/
.parent {
  width: 400px;
}

.child1 {
  width: 180px;
}

.child2 {
  width: 220px;
}

.parent .child3 {
  width: 100%;
}

/*@at-root end*/
/*@warn start*/
.warn {
  position: relative;
  left: 2px;
  top: 4px;
}

/*@warn end*/
/* DIRECTIVES end*/
/* CONTROL DIRECTIVES start */
/* if() start */
.ternary-if {
  width: 1000px;
}

@media (max-width: 768px) {
  .ternary-if {
    width: 600px;
  }
}

/* if() end */
/* @if start */
.dir-if {
  z-index: 1;
  /**/
  width: 100px;
}

/* @if end */
/* @for start */
/* through */
.item_1 {
  z-index: 1;
}

.item_2 {
  z-index: 2;
}

.item_3 {
  z-index: 3;
}

/*to*/
.item_to_4 {
  z-index: 4;
}

.item_to_5 {
  z-index: 5;
}

.item_to_6 {
  z-index: 6;
}

/* @for end */
/* @each start */
.color_red {
  color: red;
}

.color_green {
  color: green;
}

.color_blue {
  color: blue;
}

.z {
  z-index: 2;
}

.z {
  z-index: 4;
}

.z {
  z-index: 6;
}

/* @each multiple */
/* list */
.block_red {
  display: inline-block;
  width: 150px;
  height: 300px;
  background-color: red;
  color: #33ffff;
  z-index: 1;
}

.block_green {
  display: inline-block;
  width: 225px;
  height: 450px;
  background-color: green;
  color: #ffb2ff;
  z-index: 2;
}

.block_blue {
  display: inline-block;
  width: 300px;
  height: 600px;
  background-color: blue;
  color: #ffff33;
  z-index: 3;
}

/* map */
.h1 {
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
}

.h3 {
  font-size: 1.2em;
}

/* @each end */
/* @while start */
.item-6 {
  width: 600px;
}

.item-4 {
  width: 400px;
}

.item-2 {
  width: 200px;
}

/* @while end */
/* CONTROL DIRECTIVES end */
/* MIXIN start */
.block_1 {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  color: #f00;
  background-color: #f4f4f4;
  width: 100%;
  padding: 10px;
}

.block_2 {
  display: inline-block;
}

.block_2:after {
  content: "";
  display: table;
  clear: both;
}

/* mixin in root */
.mixin-root {
  display: block;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  margin: 0 auto;
  font-size: 16px;
  color: #444;
  background-color: #d4d4d4;
  border: 2px solid;
}

/* include other mixins */
.compound {
  background-color: #fc0;
  font-size: 20px;
}

/* arguments in mixin */
.arguments {
  width: 100px;
  height: 80px;
  color: green;
}

.arguments2 {
  width: 200px;
  height: 160px;
  color: red;
}

.arguments_optional {
  box-sizing: border-box;
}

.arguments_optional2 {
  box-sizing: content-box;
}

/* if in mixin */
.arg-if {
  background-position: center;
  background-size: cover;
  /**/
  background-position: center;
  background-size: contain;
  /**/
  background-size: 100%;
}

/* each in mixin */
.arg-each {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

/*variable arguments*/
.shadows {
  -moz-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  -webkit-box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
  box-shadow: 0px 4px 5px #666, 2px 6px 10px #999;
}

/* MIXIN end */
