/* DIRECTIVES start*/

// @import
.import {
	@import "example";
}

// @media
.media {
	$media: screen;
	$feature: max-width;
	$value: 768px;

	width: 1000px;
	@media #{$media} {
		@media ($feature: $value) {
			width: 700px;
		}
	}
}

/*@extend start*/
.extend {
	padding: 10px;
	border: 1px solid #f00;
	border-radius: 5px;
	font-size: 12px;
	&.font-large {
		font-size: 16px;
	}
}
.linkhover {
	&:hover {
		text-decoration: underline;
	}
}
.extendOtherDefoult {
	color: #888;
}
.extendOther {
	@extend .extendOtherDefoult;
	line-height: 1.2;
	max-width: 500px;
}
.extendAdditional {
	@extend .extend;
	@extend .extendOther;
	@extend .linkhover:hover;
	background-color: #e4e4e4;
}
/*@extend end*/

/* DIRECTIVES end*/ 