/*==SassScript start==*/

/*variables start*/
$size: 100px;
$color-gray: #d3d3d3;

.rectangle {
	width: $size * 2;
	height: $size;
	border: 2px solid $color_gray;

	$font-size-global: 20px !global;
	font-size: $font-size-global;
}

.square {
	width: $size;
	height: $size;
	border: 2px solid 1.2*$color_gray;
	font-size: $font_size_global;
}
/*variables end*/

/*lists start*/
.lists {
	$list1: 100px 200px;
	$list2: 300px 400px;
	// get access items in a list
	padding: nth(10px 20px 30px, 1);
	font: {
		family: nth((Helvetica, Arial, sans-serif), 3);
	}
	// join function can join multiple lists together
	margin: join($list1, $list2);
	margin: join((50px, 60px), (70px, 80px));
	// append function can add items to lists

	padding: append($list1, $list2);
	padding: append((11px, 12px), 14px);
	padding: append(10px 20px, 30px);
}
/*lists end*/

/*maps start*/
$status-colors: (

	primary: #000,
	success: #27BA6C,
	info: #03a9f4,
	warning: #FF8833,
	danger: #ff1a1a
);

.message {

	@each $status, $color in $status-colors { 

		&-#{$status} {

			background: $color;
		}
	}
}
/*maps end*/

/*Operations start*/
.numbers {
	width: 10px + 10px;
	height: 10px * 1.5;
	// division
	$width: 1000px;
	$font-size: 12px;
  $line-height: 1.2;
	font: 14px/1.4;
	width: $width / 2;
	width: round(7.5px) / 2;
	height: (1000px / 2);
	padding: 10px + 20px / 4px;
	line-height: $font-size/$line-height * 10;
  font: #{$font-size}/#{$line-height};
}
@import "colors";
// https://sass-scss.ru/documentation/sassscript/tsvetovie_operatsii.html

/*Operations end*/
/*==SassScript end==*/